@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,400;1,600;1,700;1,800;1,900&display=swap');

$red: #FC4D77;
$light-red: #ffedf1;
$dark-red: #ca3e5f;
$light-yellow: #fff7eb;
$dark-yellow: #cc892f;
$yellow: #FFAB3B;
$green: #4FC491;
$light-blue: #CEE7FF;
$blue: #2D96FF;
$dark-blue: #2889ea;
$dark-grey: #D8DCE4;
$light-grey: #eef1f4;
$grey-1: #1b1c1d;


$font-1: 'Montserrat', sans-serif;

$padding: 0.2rem

